/* General */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F7F8FC;
}

.contenedor {
    display: flex;
}

/* Barra lateral */
.barra_lateral {
    width: 300px;
    background-color: #1F4FE4;
    color: white;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 60px;
    border-radius: 50%;
}

.logo h2 {
    margin: 10px 0 5px 0;
    font-size: 20px;
}

.logo p {
    font-size: 12px;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu_item {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    margin: 6px 0;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.menu_item img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

.menu_item.activo,
.menu_item:hover {
    background-color: #143BB7;
}

#sub_opcion{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 40px;
    font-size: 13px;
}
