<!-- Herencia -->
{% extends "home.html"%}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/clientesMembresia.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Cliente membresía</h1>
            <p>Información sobre las membresías de los clientes</p>
        </div>
        <div class="acciones">
            <button class="boton accion eliminar">
                <img src="/static/images/basura.png" alt="Eliminar"> Delete
            </button>
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
            <button class="boton accion exportar">
                <img src="/static/images/descarga.png" alt="Exportar"> Export
            </button>
            <button class="boton accion agregar">
                <img src="/static/images/mas.png" alt="Agregar"> Add
            </button>
        </div>
    </header>

    <section class="tabla_clientes">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Membresía</th>
                    <th>Estado</th>
                    <th>Puntos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>001</td>
                    <td>Platimun</td>
                    <td>Activo</td>
                    <td>300</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>002</td>
                    <td>Estandar</td>
                    <td>Activo</td>
                    <td>450</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>003</td>
                    <td>Gold</td>
                    <td>Inactivo</td>
                    <td>500</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/clientesMembresia.js"></script>
{% endblock %}