<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Información de membresias de clientes</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/clientesMembresia.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Cliente membresía</h1>
            <p>Información sobre las membresías de los clientes</p>
        </div>
        <div class="acciones">
            
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>
            
        </div>
    </header>

    <section class="tabla_clientes">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Membresía</th>
                    <th>Estado</th>
                    <th>Puntos</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id = "clientes_membresia">
                               
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/clientesMembresia.js"></script>
{% endblock %}