<!-- Herencia -->
{% extends "home.html"%}


{% block tittle %}
<title>Información personal de clientes</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/clientesInfo.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Cliente información</h1>
            <p>Información personal de los clientes</p>
        </div>
        <div class="acciones">

            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>

        </div>
    </header>

    <!-- Search Bar -->
    <section class="search_bar">
        <input type="text" id="searchCliente" placeholder="Buscar por ID de cliente">
    </section>

    <section class="tabla_clientes">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='clientes_info'>

            </tbody>
        </table>
    </section>
    <section>
        <div id="modal-editar-cliente-info" class="modal">
            <div class="modal-content">
                <span id="cerrar-modal-editar-cliente-info" class="close">&times;</span>
                <h2>Editar Cliente Info</h2>
                <form id="form-editar-cliente-info">
                    <input type="hidden" id="edit-clienteID" name="clienteID">

                    <label for="edit-nombreCliente">Nombre:</label>
                    <input type="text" id="edit-nombreCliente" name="nombreCliente" required>

                    <label for="edit-telefono">Teléfono:</label>
                    <input type="number" id="edit-telefono" name="telefono" required>

                    <label for="edit-ciudad">Ciudad:</label>
                    <input type="text" id="edit-ciudad" name="ciudad" required>

                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script type="module" src="/static/js/clientesInfo.js"></script>
{% endblock %}