<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Información de membresias de clientes</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/clientesMembresia.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Cliente membresía</h1>
            <p>Información sobre las membresías de los clientes</p>
        </div>
        <div class="acciones">
            
            <button class="boton accion filtros">
                <img src="/static/images/ojo.png" alt="Filtros"> Local
            </button>
            <button class="boton accion filtros">
                <img src="/static/images/ojo.png" alt="Filtros"> Remota
            </button>
            
        </div>
    </header>

    <section class="search_bar">
        <input type="text" id="searchClienteMemb" placeholder="Buscar por ID de cliente">
    </section>

    <section class="tabla_clientes">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Membresía</th>
                    <th>Estado</th>
                    <th>Puntos</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id = "clientes_membresia">
                               
            </tbody>
        </table>
    </section>
    <section>
        <div id="modal-editar-cliente-membresia" class="modal">
            <div class="modal-content">
                <span id="cerrar-modal-editar-cliente-membresia" class="close">&times;</span>
                <h2>Editar Cliente Membresía</h2>
                <form id="form-editar-cliente-membresia">
                    <input type="hidden" id="edit-clienteID" name="clienteID">
                    <input type="hidden" id="edit-tiendaID" name="tiendaID">
                    
                    <label for="edit-tipoMembresia">Tipo de Membresía:</label>
                    <input type="text" id="edit-tipoMembresia" name="tipoMembresia" required>
                    
                    <label for="edit-estado">Estado:</label>
                    <input type="text" id="edit-estado" name="estado" required>
                    
                    <label for="edit-puntos">Puntos:</label>
                    <input type="number" id="edit-puntos" name="puntos" required>
                    
                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script type="module" src="/static/js/clientesMembresia.js"></script>
{% endblock %}