<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Detalle factura</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/detalleFactura.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Detalle de facturas</h1>
            <p>Detalle de las facturas registradas</p>
        </div>
        <div class="acciones">
            
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
            
        </div>
    </header>

    <section class="search_bar">
        <input type="text" id="searcDetalle" placeholder="Buscar por ID de detalle factura">
    </section>

    <section class="tabla_detalleFacturas">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Numero detalle</th>
                    <th>Tienda</th>
                    <th>Factura</th>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {%for detalle in detallesFactura%}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{detalle.numDetalle}}</td>
                    <td>{{detalle.tiendaID}}</td>
                    <td>{{detalle.facturaID}}</td>
                    <td>{{detalle.productoID}}</td>
                    <td>{{detalle.cantidad}}</td>
                    <td>{{detalle.precio}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/detalleFactura.js"></script>
{% endblock %}