<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Registro de nuevos empleados</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/clientes.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Empleados</h1>
            <p>Registro de nuevos empleados</p>
        </div>
        <div class="acciones">
            <button class="boton accion exportar">
                <img src="/static/images/descarga.png" alt="Exportar"> Nuevo empleado
            </button>
            <button class="boton accion agregar">
                <img src="/static/images/mas.png" alt="Agregar"> Registrar
            </button>
        </div>
    </header>

    <section class="tabla_clientes">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th>Salario</th>
                    <th>Cargo</th>
                    <th>Fecha ingreso</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td contenteditable="true" data-id="" data-field="Id empleado">  </td>
                    <td contenteditable="true" data-id="" data-field="Id tienda">  </td>
                    <td contenteditable="true" data-id="" data-field="Nombre empleado">  </td>
                    <td contenteditable="true" data-id="" data-field="Telefono empleado">  </td>
                    <td contenteditable="true" data-id="" data-field="Correo empleado">  </td>
                    <td contenteditable="true" data-id="" data-field="Salario empleado">  </td>
                    <td contenteditable="true" data-id="" data-field="Cargo">  </td>
                    <td contenteditable="true" data-id="" data-field="Fecha ingreso">  </td>
                    
            </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/empleados.js"></script>
{% endblock %}
