<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %}
<title>Información personal de empleados</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/empleadosinfo.css" />
{% endblock %}

<!-- Contenido -->

{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Empleado información</h1>
            <p>Información personal sobre los empleados</p>
        </div>
        
    </header>


    <!-- Search Bar -->
    <section class="search-bar">
        <input type="text" id="searchEmpleado" placeholder="Buscar por ID de empleado">
    </section>


    <section class="tabla_empleados">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='empleados_info'>

            </tbody>
        </table>
    </section>
    <section>
        <div id="modal-editar-empleadoInfo" class="modal">
            <div class="modal-content">
                <span id="cerrar-modal-editar-empleadoInfo" class="close">&times;</span>
                <h2>Editar Empleado</h2>
                <form id="form-editar-empleadoInfo">
                    <input type="hidden" id="edit-empleadoID" name="empleadoID">

                    <label for="edit-nombreEmp">Nombre:</label>
                    <input type="text" id="edit-nombreEmp" name="nombreEmp" required>

                    <label for="edit-telefono">Teléfono:</label>
                    <input type="number" id="edit-telefono" name="telefono" required>

                    <label for="edit-correo">Correo:</label>
                    <input type="email" id="edit-correo" name="correo" required>

                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </section>

</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script type="module" src="/static/js/empleadosinfo.js"></script>
{% endblock %}