<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Información personal de empleados</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/empleadosinfo.css" />
{% endblock %}

<!-- Contenido -->

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Empleado información</h1>
            <p>Información personal sobre los empleados</p>
        </div>
        <div class="acciones">
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>
            
        </div>
    </header>

    <section class="tabla_empleados">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Correo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>001</td>
                    <td>Cesar Pantoja</td>
                    <td>99999999</td>
                    <td>cesar.com</td>
                    <td>
                        <button class="boton accion agregar">
                            <img src="/static/images/mas.png" alt="Agregar"> Editar
                        </button>
                    </td>
                    <td>
                        <button class="boton accion eliminar">
                            <img src="/static/images/basura.png" alt="Eliminar"> Delete
                        </button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/empleadosinfo.js"></script>
{% endblock %}