<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Factura</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/factura.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Facturas</h1>
            <p>Facturas registradas en la tienda</p>
        </div>
        <div class="acciones">
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
        </div>
    </header>

    <section class="tabla_facturas">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Cliente</th>
                    <th>Tienda</th>
                    <th>Empleado</th>
                    <th>Fecha</th>
                    <th>Método de pago</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for factura in facturas%}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{factura.facturaID}}</td>
                    <td>{{factura.tiendaID}}</td>
                    <td>{{factura.empleadoID}}</td>
                    <td>{{factura.clieteID}}</td>
                    <td>{{factura.fechaFactura}}</td>
                    <td>{{factura.metodoPago}}</td>
                    <td>{{factura.total}}</td>
                    <td>
                        <button class="boton accion agregar">
                            <img src="/static/images/mas.png" alt="Agregar"> Generar factura
                        </button>
                    </td>
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/factura.js"></script>
{% endblock %}