<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tittle %} 
    <title>Home</title>
    {% endblock %}
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    {% block css %} {% endblock %}
</head>

<body>
    <div class="contenedor">
        <aside class="barra_lateral">
            <div class="logo">
                <img src="/static/images/tienda.png" alt="Logo Tienda">
                <h2>TIENDA {{ session["tienda"] }}</h2>
                <p>UX/UI Designer</p>
            </div>
            <nav class="menu">
                <a href="{{ url_for('home') }}" class="menu_item">
                    <img id='home' src="/static/images/casa.png" alt="Icono Casa">
                    Casa
                </a>
                <a href="{{ url_for('clientesRegistro') }}" class="menu_item">
                    <img src="/static/images/cliente.png" alt="Icono Clientes">
                    Registro clientes
                </a>
                {% if session["tienda"] == "QUITO" %}
                <a href="{{ url_for('clientesInfo') }}" class="menu_item" id="sub_opcion">
                    <img src="/static/images/infocliente.png" alt="Icono Clientes">
                    Clientes información
                </a>
                {% endif %}
                <a href="{{ url_for('clientesMembresia') }}" class="menu_item" id="sub_opcion">
                    <img id='clienteMembresia' src="/static/images/estrecli.png" alt="Icono Empleados">
                    Clientes membresía
                </a>
                <a href="{{ url_for('empleadoRegistro') }}" class="menu_item">
                    <img src="/static/images/empleado.png" alt="Icono Empleados">
                    Registro empleados
                </a>
                {% if session["tienda"] == "QUITO" %}
                <a href="{{ url_for('empleadosInfo') }}" class="menu_item" id="sub_opcion">
                    <img id='empleadoInfo' src="/static/images/infoempleado.png" alt="Icono Empleados">
                    Empleados información
                </a>
                {% endif %}
                <a href="{{ url_for('empleadoLaboral') }}" class="menu_item" id="sub_opcion">
                    <img id='empleadoLaboral' src="/static/images/estreemp.png" alt="Icono Empleados">
                    Empleados laborales
                </a>
                <a href="{{ url_for('productoRegistro') }}" class="menu_item">
                    <img id ='productoRegistro'src="/static/images/productos.png" alt="Icono Productos">
                    Registro productos
                </a>
                <a href="{{ url_for('producto') }}" class="menu_item" id="sub_opcion">
                    <img id='productos'src="/static/images/productos.png" alt="Icono Productos">
                    Productos
                </a>
                <a href="{{ url_for('proveedorRegistro') }}" class="menu_item">
                    <img id ='productoRegistro'src="/static/images/proveedor.png" alt="Icono Proveedores">
                    Registro proveedor
                </a>
                <a href="{{ url_for('proveedor') }}" class="menu_item" id="sub_opcion">
                    <img id='proveedores' src="/static/images/proveedor.png" alt="Icono Proveedores">
                    Proveedores
                </a>
                <a href="{{ url_for('factura') }}" class="menu_item">
                    <img id='facturas' src="/static/images/factura.png" alt="Icono Factura">
                    Factura
                </a>
                <a href="{{ url_for('detalleFactura') }}" class="menu_item">
                    <img id='detalleFacturas' src="/static/images/detFac.png" alt="Icono Detalle Factura">
                    Detalle factura
                </a>
                <a href="{{ url_for('tienda') }}" class="menu_item">
                    <img src="/static/images/perfil.png" alt="Icono Perfil">
                    Perfil
                </a>
            </nav>
        </aside>

        {% block content %}
        <main class="contenido">
            <header class="cabecera">
                <div class="titulo">
                    <h1>Vista general</h1>
                </div>
            </header>

            <section class="vista_general">
                <div class="contenedor_tarjetas">
                    <div class="tarjeta tarjeta_azul_claro">
                        <h3 class="titulo_tarjeta">Clientes</h3>
                        <p class="numero_tarjeta">7,265</p>
                        <p class="cambio_tarjeta positivo">+11.01% <span class="icono">↗</span></p>
                    </div>
                    <div class="tarjeta tarjeta_azul">
                        <h3 class="titulo_tarjeta">Empleados</h3>
                        <p class="numero_tarjeta">3,671</p>
                        <p class="cambio_tarjeta negativo">-0.03% <span class="icono">↘</span></p>
                    </div>
                    <div class="tarjeta tarjeta_azul_claro">
                        <h3 class="titulo_tarjeta">Productos</h3>
                        <p class="numero_tarjeta">156</p>
                        <p class="cambio_tarjeta positivo">+15.03% <span class="icono">↗</span></p>
                    </div>
                    <div class="tarjeta tarjeta_azul">
                        <h3 class="titulo_tarjeta">Proveedores</h3>
                        <p class="numero_tarjeta">2,318</p>
                        <p class="cambio_tarjeta positivo">+6.08% <span class="icono">↗</span></p>
                    </div>
                </div>
            </section>

            <section class="resumen_datos">
                <div class="grafica_ganancias">
                    <h3 class="titulo_seccion">Ganancias por mes</h3>
                    <!-- Aquí se renderizará el gráfico -->
                    <canvas id="graficaGanancias"></canvas>

                </div>
                <div class="productos_vendidos">
                    <h3 class="titulo_seccion">Producto más vendido</h3>
                    <ul class="lista_productos">
                        <li>Leche <span class="barra_producto" style="width: 80%;"></span></li>
                        <li>Huevos <span class="barra_producto" style="width: 65%;"></span></li>
                        <li>Arroz <span class="barra_producto" style="width: 50%;"></span></li>
                        <li>Azúcar <span class="barra_producto" style="width: 60%;"></span></li>
                        <li>Aceite <span class="barra_producto" style="width: 40%;"></span></li>
                        <li>Harina <span class="barra_producto" style="width: 35%;"></span></li>
                    </ul>
                </div>
            </section>
            <section class="mejores_clientes">
                <div class="clientes_tabla_contenedor">
                    <h3 class="titulo_seccion">Mejores clientes</h3>
                    <table class="tabla_clientes">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Última compra</th>
                                <th>Total gastado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Cesar Pantoja</td>
                                <td>Jun 24, 2024</td>
                                <td>$777.00</td>
                            </tr>
                            <tr>
                                <td>Sebastian Sanchez</td>
                                <td>Mar 10, 2024</td>
                                <td>$69.00</td>
                            </tr>
                            <tr>
                                <td>Paul Salas</td>
                                <td>Nov 10, 2024</td>
                                <td>$666.00</td>
                            </tr>
                            <tr>
                                <td>Kevin Tumbaco</td>
                                <td>Dec 20, 2024</td>
                                <td>$425.00</td>
                            </tr>
                            <tr>
                                <td>Jhonny Quishpe</td>
                                <td>Jul 25, 2024</td>
                                <td>$999.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>

        </main>
        {% endblock %}



    </div>


    <script src="/static/js/home.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    {% block scriptjs %}

    {% endblock %}
  
</body>

</html>