<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
    <link rel="stylesheet" href="/static/css/ingreso.css">
</head>

<body>
    <div class="contenedor">
        <div class="formulario">
            <img src="/static/images/tienda.png" alt="Icono de carrito" class="icono_carrito">

            <form id='formulario_ingreso' action="/guardar" method="POST">
                <img src="/static/images/usuario.png" alt="Icono nombre" class="icono_input">
                <input type="text" id="nombre_tienda" name="nombre_tienda" placeholder="NOMBRE TIENDA">

                <img src="/static/images/usuario.png" alt="Icono email" class="icono_input">
                <input type="text" id="email" name="email" placeholder="EMAIL">

                <img src="/static/images/contra.png" alt="Icono contraseña" class="icono_input">
                <input type="text" id="contrasena" name="contrasena" placeholder="CONTRASEÑA">

                <button type="submit" id="btn_ingresar" class="boton_ingresar">INGRESAR</button>
            </form>
        </div>
    </div>

     <!-- Mostrar mensajes flash -->
     {% with messages = get_flashed_messages() %}
     {% if messages %}
         <ul>
             {% for message in messages %}
                 <li style="color: red;">{{ message }}</li>
             {% endfor %}
         </ul>
     {% endif %}
     {% endwith %}

    <script defer src="/static/js/ingreso.js"></script>

</body>

</html>