<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %}
<title>Productos</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/producto.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Productos</h1>
            <p>Productos disponibles en la tienda</p>
        </div>
        <div class="acciones">

            <button class="boton accion local">
                <img src="/static/images/ojo.png" alt="local"> Local
            </button>
            <button class="boton accion remoto">
                <img src="/static/images/ojo.png" alt="remoto"> Remota
            </button>

        </div>
    </header>

    <section class="search_bar">
        <input type="text" id="searcProducto" placeholder="Buscar por ID de producto">
    </section>

    <section class="tabla_productos">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id = "productos_info">
               
            </tbody>
        </table>
    </section>
    <section>
        <div id="modal-editar-producto" class="modal">
            <div class="modal-content">
                <span id="cerrar-modal" class="close"">&times;</span>
                <h2>Editar Producto</h2>
                <form id="form-editar-producto">
                    <input type="hidden" id="edit-productoID" name="productoID">
                    <input type="hidden" id="edit-tiendaID" name="tiendaID">
                    <input type="hidden" id="edit-proveedorID" name="proveedorID">
                    
                    <label for="edit-nombreProducto">Nombre:</label>
                    <input type="text" id="edit-nombreProducto" name="nombreProducto" required>
                    
                    <label for="edit-precioProducto">Precio:</label>
                    <input type="number" id="edit-precioProducto" name="precioProducto" step="0.01" required>
                    
                    <label for="edit-stockProducto">Stock:</label>
                    <input type="number" id="edit-stockProducto" name="stockProducto" required>
                    
                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script type="module"src="/static/js/producto.js"></script>
{% endblock %}