<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %}
<title>Productos</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/producto.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Productos</h1>
            <p>Productos disponibles en la tienda</p>
        </div>
        <div class="acciones">

            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>

        </div>
    </header>

    <section class="tabla_productos">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productosQuito %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ producto.productoID }}</td>
                    <td>{{ producto.tiendaID }}</td>
                    <td>{{ producto.proveedorID }}</td>
                    <td>{{ producto.nombreProducto }}</td>
                    <td>{{ producto.precioProducto }}</td>
                    <td>{{ producto.stockProducto }}</td>
                    <td>
                        <button class="boton accion agregar">
                            <img src="/static/images/mas.png" alt="Agregar"> Editar
                        </button>
                    </td>
                    <td>
                        <button class="boton accion eliminar">
                            <img src="/static/images/basura.png" alt="Eliminar"> Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/producto.js"></script>
{% endblock %}