<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %}
<title>Productos</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/producto.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Productos</h1>
            <p>Productos disponibles en la tienda</p>
        </div>
        <div class="acciones">

            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>

        </div>
    </header>

    <section class="tabla_productos">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Proveedor</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id = "productos_info">
               
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/producto.js"></script>
{% endblock %}