<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Proveedores</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/proveedor.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Proveedores</h1>
            <p>Proveedores disponibles en la tienda</p>
        </div>
        <div class="acciones">
            
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filtrar
            </button>
            
        </div>
    </header>

    <section class="tabla_proveedores">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Tienda</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="proveedores_info">
                
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/proveedor.js"></script>
{% endblock %}