<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Proveedores</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/proveedor.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Proveedores</h1>
            <p>Proveedores disponibles en la tienda</p>
        </div>
        <div class="acciones">
            <button class="boton accion eliminar">
                <img src="/static/images/basura.png" alt="Eliminar"> Delete
            </button>
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
            <button class="boton accion exportar">
                <img src="/static/images/descarga.png" alt="Exportar"> Export
            </button>
            <button class="boton accion agregar">
                <img src="/static/images/mas.png" alt="Agregar"> Add
            </button>
        </div>
    </header>

    <section class="tabla_proveedores">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Ciudad</th>
                    <th>Teléfono</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>001</td>
                    <td>Cesar Pantoja</td>
                    <td>99999999</td>
                    <td>cesar.com</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>002</td>
                    <td>Jaime Sanchez</td>
                    <td>99999999</td>
                    <td>sebas.com</td>
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>003</td>
                    <td>Paul Salas</td>
                    <td>99999999</td>
                    <td>paul.com</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/proveedor.js"></script>
{% endblock %}