<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Tienda</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/tienda.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Tienda</h1>
            <p>Información de las surcursales</p>
        </div>
        <div class="acciones">
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
        </div>
    </header>

    <section class="tabla_tiendas">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Tienda</th>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for tienda in tiendas%}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{tienda.tiendaID}}</td>
                    <td>{{tienda.nombreTienda}}</td>
                    <td>{{tienda.ubicacion}}</td>
                    <td>{{tienda.telefono}}</td>
                    <td>
                        <button class="boton accion editar" 
                            data-tienda='{{ tienda.to_dict() | tojson | safe }}'>
                            <img src="/static/images/mas.png" alt="Agregar"> Editar
                        </button>
                    </td>
                         
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
    <section>
        <div id="modal-editar-tienda" class="modal">
            <div class="modal-content">
                <span id="cerrar-modal-editar-tienda" class="close">&times;</span>
                <h2>Editar Tienda</h2>
                <form id="form-editar-tienda">
                    <input type="hidden" id="edit-tiendaID" name="tiendaID">
                    
                    <label for="edit-nombreTienda">Nombre:</label>
                    <input type="text" id="edit-nombreTienda" name="nombreTienda" required>
                    
                    <label for="edit-ubicacion">Ubicación:</label>
                    <input type="text" id="edit-ubicacion" name="ubicacion" required>
                    
                    <label for="edit-telefono">Teléfono:</label>
                    <input type="number" id="edit-telefono" name="telefono" required>
                    
                    <button type="submit">Actualizar</button>
                </form>
            </div>
        </div>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script type="module" src="/static/js/tienda.js"></script>
{% endblock %}