<!-- Herencia -->
{% extends "home.html"%}

{% block tittle %} 
    <title>Tienda</title>
{% endblock %}

<!-- Css -->
{% block css %}
<link rel="stylesheet" href="/static/css/tienda.css" />
{% endblock %}

<!-- Contenido -->
{% block content %}
<main class="contenido">
    <header class="cabecera">
        <div class="titulo">
            <h1>Tienda</h1>
            <p>Información de las surcursales</p>
        </div>
        <div class="acciones">
            <button class="boton accion filtros">
                <img src="/static/images/filtro.png" alt="Filtros"> Filters
            </button>
        </div>
    </header>

    <section class="tabla_tiendas">
        <table>
            <thead>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>Tienda</th>
                    <th>Nombre</th>
                    <th>Ubicacion</th>
                    <th>Teléfono</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {%for tienda in tiendas%}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{tienda.tiendaID}}</td>
                    <td>{{tienda.nombreTienda}}</td>
                    <td>{{tienda.ubicacion}}</td>
                    <td>{{tienda.telefono}}</td>
                    <td>
                        <button class="boton accion agregar">
                            <img src="/static/images/mas.png" alt="Agregar"> Editar
                        </button>
                    </td>
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}

<!-- Scripts -->
{% block scriptjs %}
<script src="/static/js/tienda.js"></script>
{% endblock %}